version: '3.8'
services:
  web:
    build: .
    volumes:
      - ./app/:/usr/src/app/
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - celery
      - celery-beat
  db:
    image: postgres:13.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=Shop-Django
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=kevs
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
  celery:
    build: .
    command: celery -A website worker -l info
    volumes:
      - ./app/:/usr/src/app/
    environment:
      - ./.env
    depends_on:
      - redis
  celery-beat:
    build: .
    command: celery -A website beat -l info
    volumes:
      - ./app/:/usr/src/app/
    environment:
      - ./.env
    depends_on:
      - redis
  dashboard:
    build: .
    volumes:
      - ./app/:/usr/src/app/
    command: > 
      bash -c "celery -A website flower --port=5566 && 
      celery -A website flower  --address=0.0.0.0 --port=5566 && 
      celery -A website flower --broker=redis://guest:guest@localhost:6379/0"
    ports:
      - 5566:5566
    environment:
      - ./.env
    depends_on:
      - web
      - redis
      - celery
volumes:
  postgres_data: