{% extends "shop/product_detail/product.html" %}
{% load crispy_forms_tags %}
{% block comments %}
    <div class="col-md-12">
        <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav">
                <li><a href="{% url 'shop:product_detail' id=product.id slug=product.slug %}">Description</a></li>
                    <li class="active"><a href="{% url 'shop:product_comment' id=product.id slug=product.slug page_num=1 %}">Reviews
                        ({{ comments|length }})</a></li>
            </ul>
            <div class="tab-pane fade in">
                <div class="row">
                    <!-- Rating -->
                    <div class="col-md-3">
                        <div id="rating">
                            <div class="rating-avg">
                                <span>{{ average_rating }}</span>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            <ul class="rating">
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div style="width: 80%;"></div>
                                    </div>
                                    <span class="sum">{{ rating_comments.4 }}</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div style="width: 60%;"></div>
                                    </div>
                                    <span class="sum">{{ rating_comments.4 }}</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div></div>
                                    </div>
                                    <span class="sum">{{ rating_comments.3 }}</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div></div>
                                    </div>
                                    <span class="sum">{{ rating_comments.2 }}</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div></div>
                                    </div>
                                    <span class="sum">{{ rating_comments.1 }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Rating -->

                    <!-- Reviews -->
                    <div class="col-md-6">
                        <div id="reviews">
                                {% for com in comments_list %}
                                    <ul class="reviews">
                                        <li>
                                            <div class="review-heading">
                                                <h5 class="name">{{ com.name }}</h5>
                                                <p class="date">{{ com.created }}</p>
                                                <div class="review-rating">
                                                    {% if com.rating >= 1  %}
                                                        <i class="fa fa-star"></i>
                                                    {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                    {% endif %}
                                                    {% if com.rating >= 2  %}
                                                        <i class="fa fa-star"></i>
                                                    {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                    {% endif %}
                                                    {% if com.rating >= 3 %}
                                                        <i class="fa fa-star"></i>
                                                    {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                    {% endif %}
                                                    {% if com.rating >= 4 %}
                                                        <i class="fa fa-star"></i>
                                                    {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                    {% endif %}
                                                    {% if com.rating == 5 %}
                                                        <i class="fa fa-star"></i>
                                                    {% else %}
                                                        <i class="fa fa-star-o empty"></i>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="review-body">
                                                <p>{{ com.body }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            <ul class="reviews-pagination">
                                {% for p in page.paginator.page_range %}
                                    {% if page_num == p %}
                                    <li class="active" ><a href="{% url 'shop:product_comment' id=product.id slug=product.slug page_num=p %}">{{ p }}</a></li>
                                    {% else %}
                                    <li><a href="{% url 'shop:product_comment' id=product.id slug=product.slug page_num=p %}">{{ p }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /Reviews -->

                    <!-- Review Form -->
                    <div class="col-md-3">
                        <div id="review-form">
                            <form class="review-form" method="POST">
                                {% crispy form %}
                            </form>
                        </div>
                    </div>
                    <!-- /Review Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- /product tab -->
{% endblock %}