{% extends "shop/product_detail/product.html" %}
{% block comments %}
    <div class="col-md-12">
        <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav">
                <li class="active"><a href="#tab1">Description</a></li>
                    <li><a href="{% url 'shop:product_comment' id=product.id slug=product.slug page_num=1 %}">Reviews
                        ({{ comments|length }})</a></li>
            </ul>
            <div class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /product tab -->

{% endblock %}